In [15]:
# Import Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [16]:
hm = pd.read_csv("Resources/hawaii_measurements.csv")
hs = pd.read_csv("Resources/hawaii_stations.csv")
#combined_df = pd.merge(city_df, ride_df, how='outer', on='city')
#combined_df.head()

In [22]:
# Drop all rows with missing information
hm_clean = hm.dropna(how='any')
hm_clean.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [23]:
hm_clean = hm_clean.count()
hm_clean

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [19]:
hs_df = hs.count()
hs_df

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [20]:
#save df to csv
hm_clean.to_csv("clean_hm.csv")
hs.to_csv("clean_hs.csv")